@import "tailwindcss";

@font-face {
	font-family: "Bellefair";
	src: url("fonts/bellefair/Bellefair-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("fonts/barlow/Barlow-Black.ttf") format("truetype")
		url("fonts/barlow/Barlow-Bold.ttf") format("truetype")
		url("fonts/barlow/Barlow-ExtraBold.ttf") format("truetype")
		url("fonts/barlow/Barlow-ExtraLight.ttf") format("truetype")
		url("fonts/barlow/Barlow-Light.ttf") format("truetype")
		url("fonts/barlow/Barlow-Medium.ttf") format("truetype")
		url("fonts/barlow/Barlow-Regular.ttf") format("truetype")
		url("fonts/barlow/Barlow-SemiBold.ttf") format("truetype")
		url("fonts/barlow/Barlow-Thin.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "BarlowCondensed";
	src: url("fonts/barlow_condensed/BarlowCondensed-Black.ttf")
		format("truetype") url("fonts/barlow_condensed/BarlowCondensed-Bold.ttf")
		format("truetype")
		url("fonts/barlow_condensed/BarlowCondensed-ExtraBold.ttf")
		format("truetype")
		url("fonts/barlow_condensed/BarlowCondensed-ExtraLight.ttf")
		format("truetype") url("fonts/barlow_condensed/BarlowCondensed-Light.ttf")
		format("truetype") url("fonts/barlow_condensed/BarlowCondensed-Medium.ttf")
		format("truetype") url("fonts/barlow_condensed/BarlowCondensed-Regular.ttf")
		format("truetype")
		url("fonts/barlow_condensed/BarlowCondensed-SemiBold.ttf")
		format("truetype") url("fonts/barlow_condensed/BarlowCondensed-Thin.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--space-blue-900: oklch(16.23% 0.0214 275.07);
	--space-blue-300: oklch(88.26% 0.0486 277.68);
	--space-white: oklch(100% 0 0);
	--space-spacing-1600: 128px;
	--space-spacing-1200: 96px;
	--space-spacing-1000: 80px;
	--space-spacing-800: 64px;
	--space-spacing-600: 48px;
	--space-spacing-500: 40px;
	--space-spacing-400: 32px;
	--space-spacing-300: 24px;
	--space-spacing-200: 16px;
	--space-spacing-150: 12px;
	--space-spacing-100: 8px;
	--space-spacing-50: 4px;
	--space-spacing-25: 2px;
}

@layer utilities {
  /* Font utilities */
	.font-bellefair {
		font-family: "Bellefair", serif;
	}

	.font-barlow {
		font-family: "Barlow", sans-serif;
	}

	.font-barlow-condensed {
		font-family: "BarlowCondensed", sans-serif;
	}

  /* Text Preset */
  .text-preset-1 {
    font-family: "Bellefair", serif;
    font-size: 144px;
    line-height: 1.719; /* 171.9% */
    letter-spacing: 0px;
  }

  .text-preset-2 {
    font-family: "Bellefair", serif;
    font-size: 100px;
    line-height: 1.146; /* 114.6% */
    letter-spacing: 0px;
  }
  
  .text-preset-3 {
    font-family: "Bellefair", serif;
    font-size: 56px;
    line-height: 0.642; /* 64.2% */
    letter-spacing: 0px;
  }
  
  .text-preset-4 {
    font-family: "Bellefair", serif;
    font-size: 32px;
    line-height: 0.367; /* 36.7% */
    letter-spacing: 0px;
  }
  
  .text-preset-5 {
    font-family: "BarlowCondensed", serif;
    font-size: 28px;
    line-height: 0.336; /* 33.6% */
    letter-spacing: 4px;
    font-weight: normal;
  }

  /* Color utilities */
	.space-blue-900 {
		color: var(--space-blue-900);
	}

	.space-blue-300 {
		color: var(--space-blue-300);
	}

	.space-white {
		color: var(--space-white);
	}
}
