---
import "../styles/global.css";
import HomeBackground from "@/assets/HiResRender-1.svg";

import Navbar from "@/components/ui/Navbar"
---
<div>
  <img src={HomeBackground.src} class="w-screen h-screen object-cover" alt="" fetchpriority="high" />
  <!-- <main>
    <Navbar/>
  </main> -->
</div>